*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-primary: #6c63ff;
    --color-succes: #00bf8e;
    --color-warning: #FFE81A;
    --color-danger: #053257;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-black);
    background: var(--color-white);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h2,h3,h4,h5{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a{
   color: var(--color-black); 
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background-color: var(--color-danger);
    color: var(--color-white);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
    border-radius: 20px;
}

.btn:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary{
    background-color: var(--color-danger);
    color: var(--color-white);
}

/* ====================NAVBAR================= */
nav {
    background-color: white;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
    backdrop-filter: blur(10px);
}


.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}

.nav__menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu a{
    font-size: 0.9rem;
    transition: all 400ms ease;
}

.nav__menu a:hover {
    color: #04b916;
}

.logo__image{
    width: 300px;
    padding: 5px;
}



/* ====================HEADER================= */
.carousel-item {
    height: 32rem;
}

.container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}

header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70%;
    margin-bottom: 5rem;
}

.header__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header__left p{
    margin: 1rem 0 2.4rem;
}

/* ====================CATEGORIES================= */
.categories{
    background: var(--color-danger);
    height: 29rem;
}

.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}

.exames__p{
    color: white;
}

.category__title{
    color: white;
}

.categories__container{
    display: grid;
    grid-template-columns: 40% 60%;
}

.categories__left{
    margin-right: 4rem;
}

.categories__left p{
    margin: 1rem 0 3rem;
}

.categories__right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.category{
    background: white;
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.category:hover{
    box-shadow: 0 3rem 3rem rgb(0, 0, 0, 0.3);
    z-index: 1;
}

.category:nth-child(2) .category__icon{
    background: var(--color-danger);
}

.category:nth-child(3) .category__icon{
    background: var(--color-succes);
}

.category:nth-child(4) .category__icon{
    background: var(--color-warning);
}

.category:nth-child(5) .category__icon{
    background: var(--color-succes);
}

.category__icon{
    background: var(--color-primary);
    padding: 0.7rem;
    border-radius: 0.9rem;
}

.category h5{
    margin: 2rem 0 1rem;
}

.category p{
    font-size: 0.85rem;
}

/* ====================SERVIÇOS================= */
.courses{
    margin-top: 10rem;
}

.courses__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


.course__info{
    padding: 2rem;
}

.course__info p{
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}

/* ====================FAQS================= */
.faqs{
    /* background: antiquewhite; */
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: rgb(250, 250, 250);
    cursor: pointer;
}

.faq h4{
    font-size: 1rem;
    line-height: 2.2;
}

.faq__icon{
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p{
    margin-top: 0.8rem;
    display: none;
}

.faq.open p{
    display: block;
}

/* ====================TESTIMONIAL================= */
.testimonials__container{
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
}

.testimonial{
    padding-top: 2rem;
}

.avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-bg1);
}

.testimonial__info{
    text-align: center;
}

.testimonial__body{
    /* background: var(--color-primary); */
    padding: 2rem;
    margin-top: 3rem;
    cursor: grab;
}

.testimonial__body:hover{
    box-shadow: 0 3rem 3rem rgb(0, 0, 0, 0.3);
}



/* ====================FOOTER================= */

footer{
    background: #FFE81A;
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.footer__container > div h4{
    margin-bottom: 1.2rem;
}

.footer__1 p{
    margin: 0 0 2rem;
}

.footer ul li{
    margin-bottom: 0.7rem;
}

footer ul li a:hover{
    text-decoration: underline;
}

.footer__socials{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.footer__copyright{
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid;
}

/* ==========Responsive (Tablets)========== */
@media screen and (max-width: 1024px) {
    .container{
        width: var(--container-width-md);
    }

    h1{
        font-size: 2.2rem;
    }

    h2{
        font-size: 1.7rem;
    }

    h3{
        font-size: 1.4rem;
    }

    h4{
        font-size: 1.2rem;
    }

    /* NAVBAR */
    nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-black);
        cursor: pointer;
    }

    nav button#close-menu-btn{
        display: none;
    }

    .nav__menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav__menu li{
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav__menu li:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav__menu li:nth-child(3) {
        animation-delay: 400ms;
    }

    .nav__menu li:nth-child(4) {
        animation-delay: 600ms;
    }

    @keyframes animateNavItems{
        0%{
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }

        100%{
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }

    .nav__menu li a {
        background: white;
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .nav__menu li a:hover{
        background: var(--color-danger);
        color: white;
    }

    /* ==========Header========== */
    header{
        height: 52vh;
        margin-bottom: 4rem;
    }

    .header__container{
        gap: 0;
        padding-bottom: 3rem;
    }

    /* ==========Categorias========== */
    .categories{
        height: auto;
    }

    .categories__container{
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .categories__left{
        margin-right: 0;
    }
    /* ==========Serviços========== */
    .courses{
        margin-top: 0;
    }

    .courses__container{
        grid-template-columns: 1fr 1fr;
    }

    /* ==========Faqs========== */
    .faqs__container{
        grid-template-columns: 1fr;
    }

    .faq{
        padding: 1.5rem;
    }

    /* ==========Footer========== */
    .footer__container{
        grid-template-columns: 1fr 1fr;
    }
}

/* ==========Responsive (Telefones)========== */
@media screen and (max-width: 600px) {
    .container{
        width: var(--container-width-sm);
    }

    /* ==========NavBar========== */
    .nav__menu{
        right: 3%;
    }

    /* ==========Header========== */
    header{
        height: 100vh;
    }

    .header__container{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }

    .header__left p{
        margin-bottom: 1.3rem;
    }

    /* ==========Categorias========== */
    .categories__right{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .category{
        padding: 1rem;
        border-radius: 1rem;
    }

    .category__icon{
        margin-top: 4px;
        display: inline-block;
    }
    /* ==========Serviços========== */
    .courses__container{
        grid-template-columns: 1fr;
    }

    /* ==========Clientes========== */
    .testimonial__body{
        padding: 1.2rem;
    }

    /* ==========Footer========== */
    .footer__container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer__1 p{
        margin: 1rem auto;
    }

    .footer__socials{
        justify-content: center;
    }
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../IMG/slider3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 85rem;
    padding: 5rem;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    color: #fff;
}

.home__subtitle{
    color: #fff;
}


header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70%;
    margin-bottom: 5rem;
}

.somos__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
    margin-bottom: 4rem;
}

.somos__left p{
    margin: 1rem 0 2.4rem;
}

.resultados__button{
    background-color: var(--color-danger);
    padding: 0.8rem;
    color: #fff;
    border-radius: 20px;
}

.resultados__button:hover{
    background-color: transparent;
    border: 1px solid var(--color-danger);
}





.contact .row{
    display: flex;
    align-items: center;
    background: var(--color-danger);
    flex-wrap: wrap;
    gap: 1rem;
}


.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row .form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row .form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: red;
}

.contact .row .form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: red;
}

.contact .row .form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row .form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
}

.inputBox{
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 2rem;
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--white-color);
  background: none;
  outline: none;
  border-radius: .75rem;
  z-index: 1;
}

.map__button{
    display: inline-block;
    background-color: var(--color-danger);
    color: var(--color-white);
    padding: 1rem 2rem;
    border: 1px solid white;
    font-weight: 500;
    transition: var(--transition);
    border-radius: 20px;
    text-align: center;
}

.form-title{
    color: #fff;
}

.heading{
    text-align: center;
    margin-bottom: 3rem;
}

.contact{
    margin-bottom: 4rem;
}

.services__somos{
    color: red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2rem;
    font-size: 0.9rem;
}






.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.contentBox{
    position: relative;
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contentBox .imgBx{
    position: relative;
    width: 300;
    height: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox .imgBx::before{
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
}

.contentBox .imgBx img{
    position: relative;
    max-width: 250px;
    z-index: 1;
}

.contentBox .content{
    margin-top: 6rem;
    padding-left: 4rem;
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #f7f7f7 url('img/png-clipart-maine-computer-icons-close-icon-logo-law-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}


.carousel-item{
    padding-top: 15rem;
    height: 32rem;
    background: #777;
    color: white;
    position: relative; 
}



.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50px;
    background-position: center;
    background-size: cover;
}







